[src*="ID"] {
  [class^=avatarStack_] > & {
    [class^=member_] [class^=memberInner_]:has(&) [class^=content_] [class^=subText_] > [class^=activity_], /* members list */
    [class^=privateChannels_] > [class^=scroller_] [class^=content_] > [class^=channel_]:has(&) [class^=subText_], /* DMs list */
    [class^=peopleListItem_] [class^=userInfo_]:has(&) [class^=subtext_] { /* friends list */
      display: none;
    }
    [class^=biteSizeInner_] header:has(&), /* popout */
    [class^=userProfileModalInner_] header:has(&), /* full popout */
    [class^=userPanelInner_] header:has(&) { /* DMs panel */
      & div:not([class]) {
        & > [class^=invisibleContainer_],
        & > [class^=visibleContainer_] {
        display: none;
        }
      }
    }
    /* now hides their activities as well */
    div:not([class]):has([class^=userSection] &) { /* activity tab */
      display: none;
    }
    [class^=biteSizeInner_]:has(&) [class^=body_], /* popout */
    [class^=userProfileModalInner_]:has(&) [class^=body_], /* full popout */
    [class^=userPanelInner_]:has(&) [class^=body_] { /* DMs panel */
      & [class*=card_] {
        display: none;
      }
    }
    /* active now tab */
    [class^=nowPlayingColumn_] [class^=itemCard_]:has(&) {
      & header div:not([class]) > div:nth-child(2), /* activity */
      & header [class^=headerIcon_], /* icon */
      & [class^=body_] { /* channel */
        display: none;
      }
    }
  }
}
